<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">

<head><base href="/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="Modern Recovery - Tempest"/>
    <meta property="og:title" content="Modern Recovery - Tempestr">
    <meta property="og:description" content="Modern Recovery - Tempest">
    <meta name="twitter:card" content="summary_large_image">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Modern Recovery - Tempest</title>
    <meta name="description" content="Modern Recovery - Tempest">

    <meta name="author" content="Tempest, Eke Wokocha">
    <meta name="keywords" content="Modern Recovery - Tempest">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="https://www.jointempest.com/static/logo-small-4d548731eab1dbf82057cae23ce9e836.svg"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="preload" href="https://draperu.s3.amazonaws.com/public/Ether.jpg" as="image">
    <link rel="preload" href="https://draperu.s3.amazonaws.com/public/Inkling.jpg" as="image">
    <link rel="preload" href="https://draperu.s3.amazonaws.com/public/Awareness.jpg" as="image">
    <link rel="preload" href="https://draperu.s3.amazonaws.com/public/Reckoning.jpg" as="image">
    <link rel="preload" href="https://draperu.s3.amazonaws.com/public/Rebuilding.jpg" as="image">
    <link rel="preload" href="https://draperu.s3.amazonaws.com/public/Outpouring.jpg" as="image">

    <link rel="preload" href="/img/mural-dark.jpg" as="image">
    <link rel="preload" href="/img/mural-light.jpg" as="image">

    <style>
        @font-face {
            font-family: "Casta Medium Slanted";
            src: url(/fonts/Casta-Medium-Slanted.otf) format("opentype");
        }
        @font-face {
            font-family: "Casta ExtraBold Slanted";
            src: url(/fonts/Casta-ExtraBold-Slanted.otf) format("opentype");
        }
        @font-face {
            font-family: "MADE Soulmaze Outline";
            src: url(/fonts/MADE-Soulmaze-Outline.otf) format("opentype");
        }
        @font-face {
            font-family: "Albra Text Medium";
            src: url(/fonts/Albra-Text-Medium.otf) format("opentype");
        }
        @font-face {
            font-family: "Albra Text Regular";
            src: url(/fonts/Albra-Text-Regular.otf) format("opentype");
        }
        @font-face {
            font-family: "Albra Text Bold";
            src: url(/fonts/Albra-Text-Bold.otf) format("opentype");
        }
        @font-face {
            font-family: "Casta Regular";
            src: url(/fonts/Casta-Regular.otf) format("opentype");
        }
        @font-face {
            font-family: "Casta Black";
            src: url(/fonts/Casta-Black.otf) format("opentype");
        }
        @font-face {
            font-family: "GIT Italic";
            src: url(/fonts/GIT-Italic.otf) format("opentype");
        }
        @font-face {
            font-family: "GT-America-Mono-Trial-Regular-Italic";
            src: url(/fonts/GT-America-Mono-Trial-Regular-Italic.otf) format("opentype");
        }
        @font-face {
            font-family: "GT-America-Mono-Trial-Regular";
            src: url(/fonts/GT-America-Mono-Trial-Regular.otf) format("opentype");
        }
        @font-face {
            font-family: "NoeDisplay Regular";
            src: url(/fonts/NoeDisplay-Regular.otf) format("opentype");
        }
        @font-face {
            font-family: "NoeDisplay Medium";
            src: url(/fonts/NoeDisplay-Medium.otf) format("opentype");
        }
        @font-face {
            font-family: "DomaineDisplayTest-MediumItalic";
            src: url(/fonts/DomaineDisplayTest-MediumItalic.otf) format("opentype");
        }
        @font-face {
            font-family: "UntitledSans-Regular";
            src: url(/fonts/UntitledSans-Regular.otf) format("opentype");
        }
        @font-face {
            font-family: "UntitledSans-Medium";
            src: url(/fonts/UntitledSans-Medium.otf) format("opentype");
        }

        @font-face {
            font-family: "UntitledSans-Bold";
            src: url(/fonts/UntitledSans-Bold.otf) format("opentype");
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(255,255,255, 0.7);
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(255,255,255, 0.7);
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(255,255,255, 0.7);
        }


        input:focus, textarea:focus, select:focus{
            outline: none;
        }

        @keyframes backgroundmove {
            50% {background-position: right;}
        }

        @keyframes backgroundmove2 {
            0% {background-position: right;}
            100% {background-position: left;}
        }

        @keyframes wiggle {
            0% {transform: rotate(0deg);}
            25% {transform: rotate(-6deg);}
            50% {transform: rotate(10deg);}
            75% {transform: rotate(-2deg);}
            100% {transform: rotate(4deg);}
        }

        @keyframes slide {
            0% {transform:translateX(-100%);}
            100% {transform:translateX(100%);}
        }

        input[type='range'] {
            overflow: hidden;
            width: 100%;
            -webkit-appearance: none;
            background-color: #84827b50;
            outline: none;
            border-radius: 5px;
        }

        input[type='range']::-webkit-slider-runnable-track {
            height: 3px;
            -webkit-appearance: none;
            border-radius: 5px;
        }

        input[type='range']::-webkit-slider-thumb {
            width: 0px;
            -webkit-appearance: none;
            height: 100%;
            cursor: pointer;
            background: #434343;
            box-shadow: -1000px 0 0 1000px black;
            border-radius: 5px;
        }

        input[type='range'].discover {
            border-radius: 6px;
        }

        input[type='range'].discover::-webkit-slider-runnable-track {
            height: 6px;
        }

        input[type='range'].discover::-webkit-slider-thumb {
            box-shadow: -1000px 0 0 1000px white;
        }

    </style>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

<div>
    <div id="app"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- custom script -->

    <script src="/js/script.min.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</div>

</body>
</html>